name: IRIS-CICD

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy via IRIS install.mac
  shell: powershell
  env:
    IRIS_USER: _system  
    IRIS_PASS: sys
  run: |
    @"
# write a bash script to load the classfile under /src